@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  box-sizing: border-box;
  background-image: url("../img/Vector.png"), url("../img/index-background.jpg");
  color: #ffffffff;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 100%;
}

.welcome-1 {
  display: block;
  padding-left: 372px;
  padding-right: 372px;
  padding-bottom: 83px;
  padding-top: 51px;
}


.newsletter-1 {
  box-sizing: border-box;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  padding-top: 95px;
  padding-bottom: 95px;
  margin: 0 auto;
  background-size: cover;
}


.newsletter {
  display: block;
  margin: 0;
  padding-top: 87px;
  padding-bottom: 130px;
}


.hotel-parameters {
  box-sizing: border-box;
  background-image: url("../img/catalog-background.jpg");
  color: #ffffffff;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 70px;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 408px;
  background-color: #83b3d3;
  height: 100%;
  background-size: cover;
}

.filter {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-left: 71px;
  padding-right: 72px;
  padding-bottom: 30px;
}

.catalog-products {
  display: flex;
  box-sizing: border-box;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}


.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 66px;
  padding-right: 151px;
  padding-top: 14px;
  padding-bottom: 19px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.link-1 {
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  min-width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
}


.navigation-item {
  margin-right: 23px;
  position: relative;
  box-sizing: border-box;
}

.navigation-item:nth-child(3) {
  margin-right: 0;
}

.navigation-item-1 {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}

.navigation-item-1:nth-child(3) {
  margin-right: 0;
}


.navigation-user {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 209px;
  padding-right: 72px;
}


.heading {
  box-sizing: border-box;
  padding-top: 57px;
  padding-bottom: 79px;
}

.title-1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 720px;
}


.subtitle-1 {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  color: rgba(51, 51, 51, 1);
}

.benefits {
  background-color: #83b3d3;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.benefits-0 {
  margin: 0 auto;
  padding-top: 97px;
  padding-bottom: 77px;
  width: 400px;
}

.advanteges-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 220px;
}

.advantages {
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.preferences-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.preferences-list-1 {
  display: flex;
  padding: 0;
  margin: 0;
}

.preferences-item {
  display: flex;
  width: 400px;
}

.item {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 184px;
  padding-bottom: 68px;
  background-image: url("../img/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
}

.item-1 {
  background-color: rgba(131, 179, 211, 0.12);
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 186px;
  padding-bottom: 90px;
  background-image: url("../img/svg/house.svg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
}

.item-2 {
  background-color: rgba(131, 179, 211, 0.12);
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 184px;
  padding-bottom: 68px;
  background-image: url("../img/svg/present.svg");
  background-repeat: no-repeat;
  background-position: 50% 27%;
}

.item:nth-child(1) {
  padding-left: 0;
}


.advanteges-numbering {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 31px;
}

.advanteges-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  width: 220px;
}

.preferences-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.preferences-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin: 0;
  min-width: 200px;
}

.services {
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 86px;
  margin: 0 auto;
}

.services-interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.services-more {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px;
  width: 720px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  display: inline-block;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 10px;
  width: 575px;
}


.subscription-to-newsletter {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 45px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: 0;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 200px;
}

.entry-field {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 0;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
}

.entry-field::placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.entry-field-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.entry-field-1::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}


.record-field {
  display: flex;
  box-sizing: border-box;
  border: 0;
  width: 800px;
  margin: 0 auto;
}

.button-cocial {
  display: block;
  padding: 5px;
  min-width: 10px;
  min-height: 15px;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 528px;
}


.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  margin-bottom: 35px;
}

.to-apply {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
}

.to-apply:hover {
  background-color: #68a2ca;
}

.to-apply:focus-visible {
  box-shadow: 0 0 0 0 3px  #ffffff;
  outline: none;
  border: none;
}

.to-apply:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.throw-off {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 30px;
  background-color: transparent;
  border: 0;
  margin-top: 25px;
}

.throw-off:hover {
  color: #ffffff;
  opacity: 0.6;
}

.throw-off:focus-visible {
  box-shadow: 0 0 0 3px  #83b3d3;
  outline: none;
}

.throw-off:active {
  color: rgba(255, 255, 255, 1);
}

.title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: 191px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  width: 160px;
  height: 48px;
  padding-left: 13px;
  padding-right: 10px;
  appearance: none;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  background-position: 130px;
  background-image: url("../img/svg/birdie.svg");
  background-repeat: no-repeat;
}

.birdie-one {
  position: absolute;
  right: 550px;
  top: 1505px;
}

.birdie-one:active {
  opacity: 0.3;
}


.select-control-1 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  width: 287px;
  height: 48px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  appearance: none;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  background-position: 250px 12px;
  background-image: url("../img/svg/birdie.svg");
  background-repeat: no-repeat;
}

.birdie {
  position: absolute;
  top: 540px;
  right: 790px;
}

.birdie:active {
  opacity: 0.3;
}

.product-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.product-card-link:hover {
  color: #756257;
}

.product-card-link:focus-visible {
  color: #756257;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.product-card-link:active {
  color: #756257;
  opacity: 0.3;
}

.product-card-1 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.card-1 {
  margin-right: 78px;
  margin-top: 2px;
}

.card-2 {
  margin-right: 100px;
}

.card-3 {
  padding-right: 52px;
}

.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}


.more-details {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  padding: 10px;
  margin-right: 8px;
  border-radius: 4px;
  width: 151px;
  justify-content: center;
}

.more-details:hover {
  background: #615048;
}

.more-details:focus-visible {
  background: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.more-details:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}


.product-card-button-1 {
  background-color: #83b3d3;
}


.product-card-button-1:hover {
  background: #68a2ca;
}

.product-card-button-1:focus-visible {
  box-shadow: 0 0 0 3px #615048;
  outline: none;
}

.product-card-button-1:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
}

.product-card-button {
  display: flex;
  text-align: center;
}

.favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  width: 160px;
}


.favorites-1 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  width: 160px;
  background-color: #7db54f;
  border: none;
  border-radius: 4px;
}

.favorites-1:hover {
  background: #6c9e42;
}

.favorites-1:focus-visible {
  background: #6c9e42;
  box-shadow: 0 0 0 3px #615048;
  outline: none;
}

.favorites-1:active {
  color: rgba(255, 255, 255, 0.3);
  background: #6c9e42;
}

.rating {
  text-align: center;
  margin-top: 3px;
}

.product-rating {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-rating-1 {
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 5px;
  width: 160px;
  margin: 0;
  border-radius: 4px;
  text-transform: uppercase;
}


.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  width: 625px;
  min-height: 55px;
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px;
}

.pagination-show-more:hover {
  background: #68a2ca;
}

.pagination-show-more:focus-visible {
  background: #68a2ca;
  box-shadow: 0 0 0 3px #68a2ca;
  outline: none;
}


.pagination-show-more:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item {
  list-style-type: none;
  margin: 0;
  margin-right: 8px;
  background-color: #83b3d3;
  border-radius: 4px;
}


.pagination-item:nth-child(1) {
  margin-right: 0;
}

.pagination-item:nth-child(7) {
  margin-right: 0;
}

.selection-and-page {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 72px;
  padding-top: 62px;
  padding-left: 72px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  min-width: 55px;
  min-height: 55px;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
}


.slider-pagination-button-current {
  background-color: #e5e5e5;
  color: #000000;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus-visible {
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.pagination-link:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}


.selected-page:focus-visible {
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.numbering-1:active {
  background: #68a2ca;
  opacity: 0.3;
}


.number {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin-right: 51px;
  border: none;
  padding-top: 10px;
}

.subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 45px;
}

.benefits-2 {
  display: block;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 100px;
  margin: 0 auto;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}


.benefits-3 {
  display: block;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 77px;
  margin: 0 auto;
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.page-footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 40px;
}


.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 66px;
}

.footer-social-list:nth-child(3) {
  margin-right: 0;
}

.footer-social-item {
  margin: 0;
  margin-right: 20px;
}


.footer-contacts {
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  margin-right: 5px;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  padding: 5px;
}

.main-inner {
  box-sizing: border-box;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  margin-top: 0;
  padding: 0;
  cursor: pointer;
}

.icons-1:hover {
  fill: #ffffff;
  opacity: 0.6;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.icons-1:active {
  color: #ffffff;
  opacity: 0.3;
}

.icons-2 {
  margin-right: 11px;
  margin-top: 5px;
}

.directory-buttons {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

.product-list {
  display: grid;
  grid-template-columns: 1056px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 30px;
  margin: 0;
  gap: 30px;
}


.list-of-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}


.show-cards {
  width: 16px;
  height: 14px;
  padding: 17px;
  border: 2px solid #e6e6e6;
}

.slideshow-mode {
  width: 16px;
  height: 14px;
  padding: 17px;
  border: 2px solid #e6e6e6;
}

.mode-list {
  width: 16px;
  height: 14px;
  padding: 17px;
  border: 2px solid #000000;
}

.catalog-filter-item {
  list-style-type: none;
  margin-bottom: 15px;
  width: 140px;
}

.catalog-filter-item:nth-child(3) {
  padding-bottom: 0;
}


.product-card {
  display: flex;
  margin: 0;
  padding-top: 25px;
  border-top: 1px solid #e6e6e6;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-align: left;
}

.product-card-price-1 {
  display: flex;
  margin-top: 1px;
  margin-bottom: 30px;
}

.card-link {
  padding-left: 37px;
  padding-right: 358px;
}

.product-star {
  margin: 0;
  margin-bottom: 63px;
}


.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.navigation-logo {
  position: absolute;
  margin-right: 531px;
  margin-left: 531px;
}


.navigation-logo:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.img-svg {
  margin-bottom: 23px;
}

.advanteges-title-2 {
  margin: 0 auto;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 210px;
}

.advanteges-title-3 {
  margin: 0 auto;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 200px;
}


.advanteges-numbering-2 {
  margin: 0;
  margin-bottom: 30px;
  color: #333333;
}


.advanteges-numbering-3 {
  margin: 0;
  margin-bottom: 30px;
  color: #333333;
}

.advanteges-description-2 {
  margin: 0 auto;
  width: 250px;
  color: #333333;
}

.advanteges-description-3 {
  margin: 0 auto;
  width: 250px;
  color: #333333;
}

.button {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
}

.button-svg {
  padding: 15px;
  margin-right: 8px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.button-svg:nth-child(3) {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 0;
}

.button-svg:hover {
  border: 2px solid #83b3d3;
}

.button-svg:focus-visible {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.button-svg:active {
  border: 2px solid #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}


.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: #756257;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus-visible {
  background: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.entry-field:hover {
  background-color: #e6e6e6;
}

.entry-field:focus-visible {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.entry-field:disabled:hover {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 0 0 2px #ff5757;
  outline: none;
}

.entry-field-1:active {
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.entry-field-1:hover {
  background-color: #e6e6e6;
}

.entry-field-1:focus-visible {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.entry-field-1:disabled {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 0 0 2px #ff5757;
  outline: none;
}

.entry-field:active {
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.error {
  border: 2px solid #ff5757;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.subscribe-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-cocial:hover .navigation-icon-1 {
  fill: #68a2ca;
}


.navigation-icon-1:focus-visible {
  border: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.button-cocial:active {
  fill: #68a2ca;
}

.contacts:hover {
  color: #756257;
}

.footer-contacts:focus-visible {
  color: #756257;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 10px;
}

.contacts:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-icon-2 {
  display: block;
}

.navigation-icon-2:hover {
  fill: #756257;
}

.htmlacademy-link {
  display: block;
  padding: 10px;
}

.htmlacademy-link:focus-visible {
  fill: #756257;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 10px;
}

.navigation-icon-2:active {
  fill: #756257;
  opacity: 0.3;
}

.item-3 {
  margin-right: 26px;
}

.item-3::before {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
  bottom: 18px;
  left: 16px;
}


.sorting-type {
  display: flex;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-type-1 {
  display: flex;
}


.select-control-1:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border: none;
  border-radius: 4px;
}

.select-control-1:focus-visible {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border: none;
  border-radius: 4px;
}

.select-control-1:active {
  background-color: #f2f2f2;
  color: #333333;
  opacity: 0.3;
}

.select-control:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border: none;
  border-radius: 4px;
}

.select-control:focus-visible {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.select-control:active {
  background-color: #f2f2f2;
  color: #333333;
  opacity: 0.3;
}


.sorting-type:active {
  opacity: 0.3;
}

.product-card-image-1:hover {
  opacity: 0.6;
}

.product-card-image:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.product-card-image-1:active {
  opacity: 0.3;
}

.button-cocial:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.navigation-icon-1:active {
  fill: #68a2ca;
  opacity: 0.3;
}

.navigation-icon-1 {
  display: block;
  fill: #83b3d3;
}

.navigation-link-current::before {
  position: absolute;
  right: 5px;
  bottom: 0;
  top: 50px;
  left: 5px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.catalog-filter-input {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 14px;
  width: 145px;
  font: inherit;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  appearance: textfield;
  text-align: right;
  box-sizing: border-box;
}

.catalog-filter-input-1 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 14px;
  width: 145px;
  font: inherit;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  appearance: textfield;
  text-align: right;
  box-sizing: border-box;
}

.catalog-filter-label {
  display: flex;
}


.catalog-filter-input:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
}


.catalog-filter-input:focus-visible {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
  outline: none;
}


.catalog-filter-input:active {
  border: 2px solid #ffffff;
  background: #756257;
}

.catalog-filter-input-1:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
}


.catalog-filter-input-1:focus-visible {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
  outline: none;
}


.catalog-filter-input-1:active {
  border: 2px solid #ffffff;
  background: #756257;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: #ffffff;
  border-radius: 2px;
  width: 80%;
}

.range-scale::before {
  position: absolute;
  right: -60px;
  bottom: 0;
  top: -1px;
  left: auto;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 4px;
  content: "";
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #ffffff;
}

.range-toggle:focus-visible {
  background: #ffffff;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}


.range-toggle:active {
  background: #ffffff;
  box-shadow: 0 0 0 2px #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -109px;
}

.infrastructure-filter {
  margin: 0;
  margin-right: 67px;
  padding: 0;
}

.housing-filter {
  margin: 0;
  margin-right: 172px;
  padding: 0;
}

.price-filter {
  margin: 0;
  margin-right: 81px;
  padding: 0;
}

.price-filter-1 {
  margin: 0;
  padding: 0;
  display: flex;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.control-label {
  font-weight: 400;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:disabled + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input:focus-visible + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 5px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(220deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}


.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.breadcrumbs-item {
  list-style: none;
  margin-right: 12px;
}


.icons-1:focus-visible {
  border: 3px solid #83b3d3;
}


.subtitle:hover {
  color: #ffffff;
  opacity: 0.6;
}

.subtitle:focus-visible {
  border: 3px solid #83b3d3;
}

.subtitle:active {
  color: #ffffff;
  opacity: 0.3;
}

.popover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 400px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  min-height: 225px;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  left: 50%;
  margin-left: -200px;
  display: none;
}

.popover-open {
  display: block;
}


.popover-content {
  height: 100%;
  padding-bottom: 0;
  margin: 0;
}

.cart-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.cart-item-price {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.cart-item {
  display: grid;
  grid-template-columns: 330px 50px;
  list-style-type: none;
  margin: 10px;
  margin-left: 20px;
}

.cart-items-list {
  margin: 0;
  padding: 0;
}

.inner-header {
  padding-left: 71px;
  padding-right: 601px;
}

.form {
  margin-right: 81px;
  width: 287px;
}

.link-1:hover {
  color: #ffffff;
  background: #615048;
}

.link-1:focus-visible {
  background: #615048;
  color: #ffffff;
}

.link-1:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input-1::-webkit-outer-spin-button,
.catalog-filter-input-1::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.link {
  margin-right: 63px;
}

.link-2 {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 0 0 20px 20px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-2:hover {
  background: #615048;
  border-radius: 0 0 20px 20px;
}

.link-2:focus-visible {
  background: #615048;
  box-shadow: 0 0 0 3px  #83b3d3;
  outline: none;
  border-radius: 0 0 20px 20px;
}

.link-2:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0 0 20px 20px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
}


.popover-img {
  margin-right: 17px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
  border-radius: 30px;
  min-height: 561px;
}

.modal-auth {
  width: 715px;
  box-sizing: border-box;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 60px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #e6e6e6;
}

.modal-close-button:focus-visible {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 60px;
}


.field-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.modal-container-close {
  display: none;
}

.list-of-forms {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list-of-form {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 40px;
}

.modal-find {
  display: inline-block;
  background: #83b3d3;
  border-radius: 10px;
  border: none;
  width: 575px;
  padding: 10px;
}

.modal-find:hover {
  background: #68a2ca;
}

.modal-find:focus-visible {
  box-shadow: 0 0 0 3px #615048;
  outline: none;
}

.modal-find:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
}

.date-of-departure {
  margin-top: 15px;
  margin-left: 3px;
}

.date-of-departure .arrival-date {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.arrival-date {
  margin-right: 75px;
  margin-top: 10px;
}


.auth-form-field {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  width: 420px;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../img/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: 390px;
}

.auth-form-field:hover {
  background: #e6e6e6;
  border-radius: 4px;
}

.auth-form-field:focus-visible {
  background: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.auth-form-field:active {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
}

.auth-form-field:disabled:hover {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 0 0 2px #ff5757;
  outline: none;
}

.find-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.find-button:active {
  opacity: 0.3;
}

.field {
  width: 133px;
  box-sizing: border-box;
  margin-right: 60px;
  text-align: center;
  background-color: #f2f2f2;
}

.popover-img-link {
  display: flex;
  text-decoration: none;
  padding: 10px;
  padding-left: 5px;
}

.popover-img-link:hover {
  opacity: 0.3;
}

.popover-img-link:focus-visible {
  box-shadow: 0 0 0 3px  #83b3d3;
  outline: none;
  border-radius: 4px;
}

.popover-img-link:active {
  opacity: 0.6;
}

.svg {
  fill: rgba(0, 0, 0, 0.3);
  display: block;
}

.svg-link {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

.svg-link:hover .svg {
  fill: #000000;
}

.svg-link:focus-visible {
  box-shadow: 0 0 0 3px  #83b3d3;
  outline: none;
  border-radius: 4px;
}

.svg-link:active {
  opacity: 0.3;
}

.element-of-this-list {
  width: 100%;
}

.price-size {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.catalog-filte {
  display: flex;
}

.show-more {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.number-twelve {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  position: absolute;
  right: -2px;
  top: 7px;
}

.error-in-form {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #ff5757;
  margin-left: 160px;
  margin-right: 70px;
}

.error-in {
  margin: 0;
  margin-bottom: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin-left: 160px;
  margin-right: 70px;
}


.icons-info {
  text-align: center;
  display: inline-block;
  position: absolute;
  background-color: #83b3d3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 100px;
  left: 470px;
  top: 365px;
}

.icons-info:hover {
  background: #68a2ca;
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  width: 256px;
  min-height: 143px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  left: 370px;
  top: 410px;
  padding: 20px;
}

.tooltiptext {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}

.tooltip::before {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  background-color: #333333;
  left: 40%;
  bottom: 91%;
  transform: rotate(45deg);
}

.calendar {
  position: absolute;
  right: 90px;
  top: 200px;
  cursor: pointer;
}


.calendar-one {
  position: absolute;
  right: 90px;
  top: 310px;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 380px;
  right: 450px;
  cursor: pointer;
  padding: 10px;
  fill: #000000;
  opacity: 0.3;
}

.plus {
  position: absolute;
  top: 380px;
  right: 370px;
  cursor: pointer;
  fill: #000000;
  opacity: 0.3;
}

.minus-one {
  position: absolute;
  top: 380px;
  right: 160px;
  cursor: pointer;
  padding: 10px;
  fill: #000000;
  opacity: 0.3;
}

.plus-one {
  position: absolute;
  top: 380px;
  right: 90px;
  cursor: pointer;
  fill: #000000;
  opacity: 0.3;
}

.reference-quantity:hover .minus {
  fill: #000000;
}

.minus:focus-visible {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.minus:active {
  fill: #000000;
  opacity: 0.2;
}


.reference-quantity:hover .minus-one {
  fill: #000000;
}

.minus-one:focus-visible {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.minus-one:active {
  fill: #000000;
  opacity: 0.2;
}

.reference-quantity:hover .plus {
  fill: #000000;
}

.plus:focus-visible {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.plus:active {
  fill: #000000;
  opacity: 0.2;
}


.reference-quantity:hover .plus-one {
  fill: #000000;
}

.plus-one:focus-visible {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.plus-one:active {
  fill: #000000;
  opacity: 0.2;
}

.search-navigation {
  display: block;
}

.search {
  margin-top: 6px;
}

.search-one {
  margin-right: 12px;
}

.navigation-favorites {
  display: block;
}

.favorites-one {
  margin-top: 6px;
}

.cross {
  fill: #000000;
  margin-top: 20px;
}

.icon-info {
  fill: #ffffff;
}


.children {
  margin-right: 55px;
}
